@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Audiowide", sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
}

.video{
   background-color: white;
   position: relative;
    width: 100%;
    height: 100%;
}


header{
    position: relative;
   background-color: rgba(0, 0, 0, 0.832);
    position: absolute;
    top: 0;
    left: 0;
     backdrop-filter: blur(5px);
    width: 100%;
    height: 12vh;
    border: 1px rgb(0, 0, 0) solid;
    box-shadow: 0px 0px 20px white;
    /* outline: rgba(255, 255, 255, 0.355) 3px solid; */
}

.image{
    width: 25%;
    height: 100%;
}
.image img{
    width: 90%;
    height: 90%;
    object-fit: cover;
    filter: drop-shadow(0px 0px 20px rgb(255, 255, 255));
    animation: animation 5s infinite  ease-in alternate;
    transition: 0.5s ease;
}

nav{
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate(-10%,-50%);
}

nav ul li{
    display: inline-block;
    transition: 0.5s;
    
   
}


.bar1:hover{
    border-radius: 5px;
    border-bottom: 1px solid white;

}
.bar2:hover{
   border-radius: 5px;
    border-bottom: 1px solid white;
}
.bar3:hover{
   border-radius: 5px;
    border-bottom: 1px solid white;
}
.bar4:hover{
   border-radius: 5px;
    border-bottom: 1px solid white;
}
.bar5:hover{
   border-radius: 5px;
    border-bottom: 1px solid white;
}
.bar6:hover{
   border-radius: 5px;
    border-bottom: 1px solid white;
}

nav ul li a{
    font-size: 16px;
    margin-right: 20px;
       margin-left: 20px;
    text-decoration: none;
    color: white;
}



.video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video video::-webkit-media-controls-enclosure{
    display: none;
}


/* Animations*/


@keyframes animation{
    0%{
        
         filter: drop-shadow(20px 0px 10px rgb(255, 255, 255));
         
    }
    20%{
         filter: drop-shadow(20px 0px 10px rgb(232, 0, 0));
        
    }
    50%{
         filter: drop-shadow(20px 0px 10px rgb(31, 3, 245));
       
    }
    70%{
         filter: drop-shadow(20px 0px 10px rgb(17, 215, 17));
    }
    100%{
         filter: drop-shadow(20px 0px 10px rgb(166, 15, 186));
    }
}




