@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Orbitron", sans-serif;
  
}

body{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}


 .card{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 30%;
    height: 80%;
    position: relative;
    box-shadow: 0px 0px 50px black;
    background-color: black;
    
    
}
.card img{
     width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
   
}


h1{
    color: rgb(0, 0, 0);
    transition: 0.5s;
}
.card .upper{
    display: flex;
    align-items: center;
    justify-content: center;
      background-color: rgba(236, 236, 236, 0.61);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    /* border: black solid; */
    width: 100%;
    height: 50%;
    position: absolute;
    top: -300px;
    transition: 0.5s;
     z-index: 2;
}

button{
    /* padding: 20px; */
    cursor: pointer;
    width: 40%;
    height: 40px;
    border: none;
    border-radius: 10px;
     transition: 0.5s;
}
.card .lower{
     z-index: 2;
     display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
       background-color: rgba(236, 236, 236, 0.61);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    /* border: black solid; */
    width: 100%;
    height: 50%;
    bottom: -300px;
     transition: 0.5s;
    /* bottom: 0; */
}


/* hover effect */


.card:hover .upper{
    z-index: 2;
    top: 0;
}

.card:hover .lower{
    z-index: 2;
    bottom: 0%;
}

.card:hover img{
    transform: scale(1.1);
    z-index: 1;
    filter: blur(1px);
}

button:hover{
    box-shadow: 0px 0px 20px 10px rgb(0, 0, 0);
    background-color:  rgba(7, 179, 247, 0.567);
    color: white;
    
}

h1:hover{
    color:rgb(139, 0, 146);
    
}

