@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;

}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    /* border:  black solid; */
    background: linear-gradient(rgb(237, 185, 251), rgb(101, 246, 253));
    width: 40%;
    padding: 20px;
}

form {
    height: 100%;
    /* border:  blue solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    row-gap: 15px;
}

h2 {
    color: rgba(0, 0, 0, 0.621);
    text-align: center;
}

sup {
    color: red;
}

.box {
    display: flex;
    flex-direction: column;

}

.box1 {
    /* border: black solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 10px;

}

.inside {
    /* border:  blue solid; */
    width: 100%;
    display: flex;
    column-gap: 10px;
    flex-grow: 1;
}

label {
    margin-bottom: 10px;
}

input {
    border: none;
    border-radius: 3px;
    height: 30px;
    padding: 0 10px;
}

.inside>input {
    flex-grow: 1;

}


.foot {
    /* border: black solid; */
    width: 50%;

}

.verification {
    height: 70px;
    margin-top: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.verification input {
    width: 10%;
}

.verification img {
    width: 60px;
}

.container.active .verification img{
    transform: rotateZ(360deg);
    transition: 1s;
    width: 30px;
}

.container.active button{
    transform: translateY();
    display: inline-block ;
    transition: 1s;
    
}

form.active input{
    border: red solid;
}

/* .form.active  button .fa-regular{
    transform: translateX(150px);
    transition: 1s;
    width: 30px;
} */



button {
    transition: 1s;
    display: none;
    padding: 10px;
    color: white;
    font-weight: 800;
    background-color: rgb(12, 45, 255);
    border-radius: 5px;
    width: 20%;
    cursor: pointer;
    border: none;
}


/*animation*/

h2 span {
    display: inline-block;
    

    animation: bounch 1s ease-in-out infinite  alternate;
}

h2 span:nth-child(1) {
    animation-delay: 0s;
}

h2 span:nth-child(2) {
    animation-delay: 0.1s;
}

h2 span:nth-child(3) {
    animation-delay: 0.2s;
}

h2 span:nth-child(4) {
    animation-delay: 0.3s;
}

h2 span:nth-child(5) {
    animation-delay: 0.4s;
}

h2 span:nth-child(6) {
    animation-delay: 0.5s;
}

@keyframes bounch {
    0% {
        transform: translateX(-10px);
        /* transform: scale(1); */
    }

    50% {
        
    }

    100% {
        
    }
}