@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bruno+Ace+SC&family=Imperial+Script&family=Orbitron:wght@400..900&family=Pattaya&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(120deg, rgb(110, 110, 110), rgb(0, 0, 0));
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 120px;
    height: 100px;
}

.logo img {
    filter: drop-shadow(20px 0px 5px rgb(0, 0, 0));
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.apple{
     filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));
    font-size: 60px;
    font-family: "Pattaya", sans-serif;
    color: rgba(8, 8, 8, 0.866);
}

nav {}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

nav ul li {
     overflow: hidden;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: rgba(255, 253, 253, 0.689);
  
    font-family: "Quantico", sans-serif;
}

a{
    position: relative;
    /* border: red solid; */
}

a::before{
    transition: 0.5s;
    left: -110%;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.53);
    position: absolute;
}
a::after{
    transition: 0.5s;
    right: -110%;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.452);
    position: absolute;
}

.home:hover::before{
    transition: 0.5s;
    left: 110%;
}
.home:hover::after{
     transition: 0.5s;
   right: 110%;
}

.about:hover::before{
    transition: 0.5s;
    left: 110%;
}
.about:hover::after{
     transition: 0.5s;
   right: 110%;
}

.services:hover::before{
    transition: 0.5s;
    left: 110%;
}
.services:hover::after{
     transition: 0.5s;
   right: 110%;
}

.shop:hover::before{
    transition: 0.5s;
    left: 110%;
}
.shop:hover::after{
     transition: 0.5s;
   right: 110%;
}

.log:hover::before{
    transition: 0.5s;
    left: 110%;
}
.log:hover::after{
     transition: 0.5s;
   right: 110%;
}



section {
    background-color: rgb(254, 240, 235);
    margin-top: 140px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;

}

section .box {
    box-shadow: 0px 0px 10px 1px black;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    width: 25%;
    height: 70vh;
}

.box:hover img{
    transform: scale(1.1);
}

.box:hover .s1{
    top: -50%;
}

.box:hover .s2{
    right: -50%;
}

.box:hover .s3{
    left: -50%;
}

.box:hover .s4{
    bottom: -50%;
}


.smallbox{
    background-color: rgba(1, 1, 1, 0.344);
    backdrop-filter: blur(5px);
    position: absolute;
    z-index: 1;
    width: 50%;
    height: 50%;
}

.s1{
    top: 0;
     transition: 0.5s;
}
.s2{
    right: 0;
    transition: 0.5s;
}
.s3{
    left: 0;
    bottom: 0;
    transition: 0.5s;
}
.s4{
    bottom: 0;
    right: 0;
    transition: 0.5s;
}

.box img {
    transition: 0.5s;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box .price {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
   
    background-color: rgba(0, 0, 0, 0.814);
    height: 30%;
    width: 99%;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -0px);
}

button {
    transition: 0.2s;
    font-family: "Bruno Ace SC", sans-serif;
    cursor: pointer;
    width: 40%;
    height: 40px;
    font-weight: 500;
   border-radius: 5px;
    border: none;
    background: linear-gradient(120deg,rgba(128, 128, 128, 0.325),black);
    color: white;
}

button:hover{
    box-shadow: 0px 0px 20px white;
}

h1{
    color: rgba(255, 255, 255, 0.763);
     font-family: "Orbitron", sans-serif;
}
p{
     font-family: "Audiowide", sans-serif;
    font-size: 20px;
    color: rgb(255, 251, 9);
    font-weight: 500;
}