

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    height: 100vh;
    background-color: rgb(124, 124, 123);
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: relative;

    height: 100%;
    width: 60%;
}
table{
    box-shadow: 20px -10px 20px black;
    border-collapse: collapse;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
      height: 700px;
}

table .odd td:nth-child(odd) {
   background-color: rgb(0, 113, 56);
   
}


table .odd td:nth-child(even) {
   background-color: rgb(255, 255, 255);
}

table .even td:nth-child(even){
   background-color: rgb(0, 113, 56);
}
table .even td:nth-child(odd) {
   background-color: rgb(255, 255, 255);
}

table .white td:nth-child(odd){
    color: rgb(255, 255, 255);
}
table .black td:nth-child(even){
    color: rgb(255, 255, 255);
}

table td{
    text-align: center;
    font-size: 50px;
}
table tr{
    height: 87.5px;
}