

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: rgb(205, 203, 201);
}

.container{
    padding:30px 10px;
    box-shadow: 0px 0px 10px  black;
    width: 30%;
    margin: 10% auto;
    background-color: sandybrown;
}

h1{
    text-align: center;
    color: rgba(0, 0, 0, 0.684);
}

h1 i{
    color: rgb(255, 217, 0);
}

.box{
    /* border: green solid; */
    padding: 10px;
    width: 100%;
}

.box .inputs{
    height: 4vh;
    width: 100%;
    margin-top: 5px;
    padding-left: 10px;
    font-size: 15px;
    color: rgb(0, 0, 0);
}
.box .text{
    height: 10vh;
}

.box button{
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    background: linear-gradient(36deg,rgb(1, 132, 255),rgb(0, 0, 0),rgb(1, 132, 255));
    width: 60%;
    height: 5vh;
    margin-left: 80px;
}
select{
    height: 5vh;
    margin-top: 10px;
}