@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
}

body {
    height: 100vh;
    position: relative;

}

.container {
    box-shadow: 0px 0px 10px black;
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 95%;
}

.box {
    position: absolute;
    height: 100%;
}

.blur {
    z-index: 1;
    position: absolute;
    background: linear-gradient(to bottom, rgba(191, 67, 244, 0.642), rgba(255, 64, 255, 0.664));
    width: 60%;
    height: 100%;
}


.box1 {


    width: 60%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box2 {
    padding: 60px 40px;
    position: absolute;
    right: 0;

    width: 40%;
}



.inputs {
    width: 100%;

    margin-top: 30px;
}

.inputs1 {
    display: inline-flex;
}

.inputs h2 {
    font-size: 15px;
    margin-left: 10px;
}

input {
    letter-spacing: 0.5px;
    padding: 15px 0px;
    border: none;
    border-bottom: 2px rgba(150, 150, 150, 0.686) solid;
    width: 100%;
    height: 30px;
}

input:focus{
  outline-style: none;
    
}

.check {
    width: 20px;
    height: 20px;
}


.inputs2 {
    display: inline-flex;
}

button {
    cursor: pointer;
    border: none;
    height: 35px;
    border-radius: 20px;
}

.button1 {
    color: white;
    background: linear-gradient(to bottom, rgba(191, 67, 244, 0.642), rgba(255, 64, 255, 0.664));
    width: 60%;
}

.button2 {
      color: rgb(114, 113, 113);
    width: 40%;
    background-color: transparent;
}


/*fonts*/



h1 {
    font-size: 30px;
    color: rgb(0, 0, 0);
}

label {
    font-size: 13px;
    font-weight: 600;
    color: rgb(67, 67, 67);
}

h2{
    color: gray;
    font-size: 10px;
}

