@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Quicksand:wght@300..700&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 242, 242);
}

form{
    height: 98%;
    width: 34%;
}

.container {
    box-shadow: 40px 100px 40px 0px rgb(104, 104, 104);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 30px;
    /* height: 98%;
    width: 34%; */
    width: 100%;
    height: 100%;
}

nav {
    position: relative;
    display: flex;
    background-color: rgba(247, 29, 127, 0.67);
    height: 15%;
}

.top1 {
    position: absolute;
   
    width: 15%;
    height: 70px;
    top: 50%;
    left: 5%;
    transform: translate(-5%, -50%);
}

.top1 img {
    width: 100%;
    height: 100%;
}

.top2 {
    position: absolute;
    left: 35%;
    top: 50%;
    transform: translate(-35%, -50%);

}

.top3 {
    position: absolute;

    right: 10px;
    top: 18px;
}

.top3 .fa-xmark {
    cursor: pointer;
    color: white;
    font-size: 30px;
}

section {
    position: relative;
    /* scrollbar-width: thin; */
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 20px 15px 20px 25px;
    height: 65%;
}

section .tools{
    position: absolute;
    
    bottom: 0px;
    display:  flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #555;
    border-radius: 10px;
    width: 90%;
    height: 50%;
     display: none;
}

section .visible{

     display: block;
     transition: 0.5s;
}



/* .tools .files{
    border: black solid;
    width: 30%;
    height: 50%;
} */

section::-webkit-scrollbar {
    width: 7px;
      /* change scroll bar width */
}

section::-webkit-scrollbar-track {
    background: #f1f1f1;  /* Track color */
}


section::-webkit-scrollbar-thumb {
    background: #888;      /* Scroll handle */
    border-radius: 10px;
    
}

section::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.chatt {

    display: flex;
   column-gap: 10px;

    width: 100%;
}

.chatt .avatar {
    text-align: center;
    width: 15%;
    height: 60%;

}

.avatar img {
    width: 45px;
    height: 45px;
    object-fit: contain;
}

.chatt .reply {
    height: 100%;
    position: relative;
    padding: 10px;
    border-radius: 20px;
    border:2px rgb(192, 192, 192) solid;
    width: 80%;
}

.content {

    padding: 15px 20px;
    width: 90%;
}

.even{
    background-color: rgb(219, 219, 219);
}

.chatt .reply .time {
    position: absolute;
    bottom: 5%;
    right: 5%;
}


footer {
    background-color: rgb(254, 254, 254);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    height: 20%;
}

.footer {
    padding: 10px;
    border: 2px rgba(250, 1, 59, 0.567) solid;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

textarea {
    font-weight: 500;
    font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
    padding: 0px 2px;
    border: none;
    width: 100%;
    height: 50%;
}

textarea:focus {
    outline: none;
}


.send {
    width: 100%;
    height: 50%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first i {
    cursor: pointer;
    color: rgba(150, 150, 150, 0.747);
    font-size: 20px;
}

.second {
    height: 100%;
    width: 20%;
}

button {
    cursor: pointer;
   font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
    border: none;
    border-radius: 5px;
    background-color: rgb(48, 31, 239);
    color: white;
    height: 80%;
    width: 100%;
}

/*fonts*/

.time h3 {
    font-size: 13px;
    color: rgb(167, 167, 167);
}

h1 {
    color: rgba(0, 0, 0, 0.733);
    font-weight: 900;
    font-size: 30px;
    font-family: "Quicksand", sans-serif;
}

h3 {
    font-weight: 500;
    color: rgb(49, 49, 49);
    font-family: "Quicksand", sans-serif;
}

p {
   
    font-size: 15px;
    font-family: "Quicksand", sans-serif;
}