* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(225, 201, 62);
    padding: 10px;
    box-shadow: 0px 0px 20px black;
    /* border: black solid; */
    border-radius: 20px;
    /* height: 50%; */
    width: 25%;

}

form {
    display: flex;
    flex-direction: column;

    justify-content: center;
    row-gap: 10px;
}

.container .mainbox {
    /* border: black solid; */
    height: 80%;
    width: 80%;


}

section {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

input {
    height: 30px;
    padding: 0px 30px;
    border-radius: 5px;
}

button {
    width: 50%;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;


}

.sec {
    /* border: black solid; */
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

}