* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

}

.container {
    position: relative;
    height: 100%;
    border: rgb(238, 0, 0) solid;
}

.box {
    position: relative;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 720px;
    height: 720px;

}


.hex {
    position: absolute;
    width: 32%;
    height: 27%;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.honey1 {
    background: linear-gradient(120deg, rgba(255, 0, 0, 0.775) 10%, rgb(255, 115, 0) 90%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.honey2 {
    background: linear-gradient(120deg, rgb(255, 42, 0) 10%, rgba(255, 55, 0, 0.808) 90%);
    top: 7.5%;
    left: 50%;
    transform: translate(-50%);

}

.honey3 {
    background: linear-gradient(120deg, rgb(255, 64, 0) 1%, orange 99%);
    bottom: 7.5%;
    left: 50%;
    transform: translate(-50%);


}

.honey4 {
    background: linear-gradient(120deg, rgb(255, 42, 0) 10%, rgba(255, 55, 0, 0.808) 90%);
    top: 22%;
    left: 8%;

}

.honey5 {
    background: linear-gradient(120deg, rgb(255, 42, 0) 10%, orange 90%);
    top: 22%;
    right: 8%;
}

.honey6 {
    background: linear-gradient(120deg, rgb(255, 42, 0) 10%, orange 90%);
    bottom: 22%;
    left: 8%;
}

.honey7 {
    background: linear-gradient(120deg, rgb(255, 64, 0) 1%, orange 99%);
    bottom: 22%;
    right: 8%;
}