* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

.container {
    padding: 100px;
    position: relative;
    box-shadow: 0px 0px 50px white;
    width: 60%;
    height: 100%;
    background-color: rgb(255, 255, 255);

    /* z-index: -10; */
}




span {
    color: red;

}

h1 {
    text-shadow: 10px 20px 30px rgb(0, 0, 0);
    color: rgb(99, 99, 99);
    letter-spacing: 35px;
    position: absolute;
    top: 10%;
    left: 3%;
    font-size: 200px;
    /* height: 300px; */
}

.body {
    position: absolute;
}

.container .head {
    z-index: 11;
    background-color: rgb(255, 255, 255);
    border: black solid 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.container .ears {
    border: black solid;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(7, 7, 7);
}

.container .ear1 {
    z-index: 0;
    right: 40%;
    top: 30px;

}

.container .ear2 {
    z-index: 0;
    left: 40%;
    top: 30px;

}

.container .ears .smallear {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
}

.container .ears .small1 {
    top: 25%;
    right: 20%;
    /* border-bottom-right-radius: 70%; */
}

.container .ears .small2 {
    top: 25%;
    left: 20%;
}

.container .neck {
    z-index: -1;
    background-color: rgb(0, 0, 0);
    border: black solid;
    width: 100px;
    height: 100px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
}

.container .stomach {
    border: black solid;
    background-color: black;
    position: relative;
    border-radius: 50%;
    width: 300px;
    height: 600px;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -70%);
    z-index: 10;
}


.container .stomach .smallstomach {
    z-index: 99;
    position: absolute;
    border: black solid;
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 400px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .container .stomach:hover .smallstomach{
    background-color: red;
    transition: 1s;
} */





.container .hand {
    z-index: 9;
    background-color: rgb(0, 0, 0);
    position: absolute;
    border: black solid;
    width: 18%;
    height: 40%;
}

.container .hand1 {
    top: 32%;
    left: 25%;
    border-radius: 40%;
    border-top-left-radius: 80%;
    border-bottom-left-radius: 40px;

}

.container .hand2 {
    top: 32%;
    right: 25%;
    border-radius: 40%;
    border-top-right-radius: 80%;
    border-bottom-right-radius: 40px;
}

.container .finger1 {
    z-index: 101;
    position: absolute;
    border: black solid;
    background-color: black;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    bottom: 23%;
    left: 25%;
}

.container .finger2 {
    z-index: 101;
    position: absolute;
    border: black solid;
    background-color: black;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    bottom: 23%;
    right: 25%;
}


.container .pant {
    z-index: 100;
    position: absolute;
    background-image: url(../images/panda1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    clip-path: inset(0 0 0 0);
    /* border: black solid; */
    width: 51%;
    height: 27%;
    bottom: 0;
    left: 52%;
    transform: translate(-52%, 0);
}

/* .container .kaal{
    position: absolute;
    border: black solid;
    width: 10%;
    height: 10%;
}

.container .kaal1{
    bottom: 0;
    left: 35%;
    background-color: white;
    clip-path: polygon(20% 0%, 80% 0%, 100% 79%, 0 79%);
}
.container .kaal2{
     bottom: 0;
    right: 35%;
     background-color: white;
     clip-path: polygon(20% 0%, 80% 0%, 100% 79%, 0 79%);
} */


/*inside of face*/




.container .head .eyes {
    position: absolute;
    border: black solid;
    background-color: black;
    width: 60px;
    height: 60px;

}

.container .head .eye1 {
    border-radius: 66% 34% 64% 36% / 68% 27% 73% 32%;
    top: 20%;
    left: 10%;
}

.container .head .eye2 {
    border-radius: 36% 64% 33% 67% / 23% 69% 31% 77%;
    top: 20%;
    right: 10%;
}

.container .head .eyes .smalleye1 {
    position: absolute;
    border: black solid;
    border-radius: 50%;
    background-color: white;
    width: 20px;
    height: 20px;
    bottom: 10px;
    right: 10px;

}

.container .head .eyes .smalleye2 {
    position: absolute;
    border: black solid;
    border-radius: 50%;
    background-color: white;
    width: 20px;
    height: 20px;
    bottom: 10px;
    left: 10px;

}

.container .head .nose {
    position: absolute;
    border: black solid;
    background-color: black;
    width: 60px;
    height: 80px;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    clip-path: polygon(100% 0%, 100% 30%, 100% 30%, 49% 51%, 0 31%, 0 0);
}

.container .head .mouth {
    position: absolute;
    border: black solid;
    background-color: black;
    width: 80px;
    height: 50px;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    clip-path: polygon(52% 30%, 100% 0, 100% 13%, 52% 44%, 0 15%, 0 2%);
}


/*animations*/



span {
    display: inline-block;
}

.P:hover {

    transform: scale(2);
    color: black;
    transition: 0.7s;


}

.A:hover {
    transform: scale(2);
    color: black;
    transition: 0.7s;
}

.N:hover {
    transform: scale(2);
    color: black;
    transition: 0.7s;
}

.D:hover {
    transform: scale(2);
    color: black;
    transition: 0.7s;
}

.A:hover {
    transform: scale(2);
    color: black;
    transition: 0.7s;
}


span:nth-child(1) {

    color: rgb(255, 255, 255);

    animation: P 0.5s linear;
}

span:nth-child(2) {

    /* color: blue; */
    color: rgb(255, 255, 255);
    animation: A 1s linear;
    /* animation-delay: 0.5s; */
}

span:nth-child(3) {
    /* color: blue; */
    color: rgb(255, 255, 255);
    animation: N 1.5s linear;
    /* animation-delay: 1s; */
}

span:nth-child(4) {
    /* color: blue; */
    color: rgb(255, 255, 255);
    animation: D 2s linear;
    /* animation-delay: 1.5s; */
}

span:nth-child(5) {
    /* color: blue; */
    color: rgb(255, 255, 255);
    animation: AA 2.5s linear;
    /* animation-delay: 2s; */
}


@keyframes P {
    0% {
        transform: translateY(-200px);
        color: rgba(92, 92, 92, 0);
        /* transition: 1s; */
    }

    50% {
        transform: translateY(50px);
        transition: 1s;
        color: rgba(92, 92, 92, 0);
    }

    100% {
        transform: translateY(0px);
        transition: 1s;
    }
}

@keyframes A {
    0% {
        transform: translateY(-200px);
        color: rgba(92, 92, 92, 0);
        /* transition: 1s; */
    }

    50% {
        transform: translateY(10px);
        color: rgba(92, 92, 92, 0);
        /* transition: 1s; */
    }

    100% {}
}

@keyframes N {
    0% {
        transform: translateY(-200px);
        transition: 1s;
        color: rgba(92, 92, 92, 0);
    }

    50% {
        transform: translateY(10px);
        transition: 1s;
        color: rgba(92, 92, 92, 0);
    }

    100% {}
}

@keyframes D {
    0% {
        transform: translateY(-200px);
        transition: 1s;
        color: rgba(92, 92, 92, 0);
    }

    50% {
        transform: translateY(10px);
        transition: 1s;
        color: rgba(92, 92, 92, 0);
    }

    100% {}
}

@keyframes AA {
    0% {
        transform: translateY(-200px);
        transition: 1s;
        color: rgba(92, 92, 92, 0);
    }

    50% {
        transform: translateY(10px);
        transition: 1s;
        color: rgba(92, 92, 92, 0);
    }

    100% {}
}